<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>住所録管理システム：住所録一覧</title>
<link rel="stylesheet" href="/css/sb-addressbook.css">
</head>
<body>
  <h1>住所録管理システム：住所録一覧</h1>
  <div>
    <a th:href="@{/addressbook/add}">新規登録</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>名前</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>カテゴリ</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="addressbook : ${addressbooks}"
        th:object="${addressbook}">
        <td class="center" th:text="*{abId}"></td>
        <td th:text="*{abName}"></td>
        <td th:text="*{abAddress}"></td>
        <td class="center"
          th:text="${not #strings.isEmpty(addressbook.abPhone)}?
                      ${#strings.substring(addressbook.abPhone, 0, 3)} +
                      '-' + ${#strings.substring(addressbook.abPhone, 3, 7)} +
                      '-' + ${#strings.substring(addressbook.abPhone, 7, 11)}
                       : *{abPhone}">
        </td>
        <td class="center" th:text="*{category.categoryName}"></td>
        <td class="center">
          <form action="/addressbook/modify" method="post">
            <input id="id_for_update" name="id" type="hidden"
              th:value="*{abId}"> <input type="submit" value="編集"
              class="btn">
          </form>
        </td>
        <td class="center">
          <form action="/addressbook/delete_confirm" method="post">
            <input id="id_for_delete" name="id" type="hidden"
              th:value="*{abId}"> <input type="submit" value="削除"
              class="btn">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagenation_space" th:insert="addressbook/fragments::pagenation">
  </div>
  <div>
  <ul>
    <li style="display:inline;">
      <span th:if="${page.first}">&lt;&lt;前</span>
      <a
        th:if="${!page.first}"
        th:href="@{/addressbook/list(page = ${page.number} - 1)}"
      >
        &lt;&lt;前
      </a>
    </li>
    <li
      th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
      style="display:inline; margin-left:10px;"
    >
      <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
      <a
        th:if="${i} != ${page.number}"
        th:href="@{/addressbook/list(page = ${i})}"
      >
        <span th:text="${i+1}">1</span>
      </a>
    </li>
    <li style="display:inline; margin-left:10px;">
      <span th:if="${page.last}">次&gt;&gt;</span>
      <a
        th:if="${!page.last}"
        th:href="@{/addressbook/list(page = (${page.number} + 1))}"
      >
        次&gt;&gt;
      </a>
    </li>
  </ul>
</div>
</body>
</html>