@charset "UTF-8";
table {
  width: 80%;
  border-collapse: collapse;
  font-size: 12px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px;
}

table th {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

.cell_required {
  color: #f00;
}

.error_message {
  color: #f00;
  display: inline-block;
}

.address-data {
   position: relative;
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   /*3点リーダ*/
   text-overflow: ellipsis;
   white-space: nowrap;
}

.mouse-over-address-data {
  display: none;
  position: absolute;
  background: #99C;
  color: #fff;
  z-index: 2;
}

.address-data:hover + .mouse-over-address-data {
  display: block;
}